name: Pulumi Update

on:
  push:
    branches:
      - main
    paths-ignore:
      - '.github/**'
      - 'README.md'
      - 'images/**'
      - 'backend-setup/**'
  pull_request:
    branches:
      - main
    paths-ignore:
      - '.github/**'
      - 'README.md'
      - 'images/**'
      - 'backend-setup/**'
  workflow_dispatch:

env:
  PULUMI_CONFIG_PASSPHRASE: ${{ secrets.PULUMI_CONFIG_PASSPHRASE }}
  AWS_REGION: ap-southeast-1
  AWS_DEFAULT_REGION: ap-southeast-1
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

jobs:
  checkov:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      
      - name: Install Checkov
        run: |
          python -m pip install --upgrade pip
          pip install checkov

      - name: Scan Pulumi with Checkov
        run: checkov -d . --quiet

  pulumi:
    needs:
      - checkov
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Set up Python
        uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55 # v5.5.0
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r infra/requirements.txt
      
      - name: Preview Pulumi changes
        uses: pulumi/actions@9519177da243fd32cab35cdbf19cce1ab7472fcc # v6.2.0
        with:
          command: preview
          stack-name: dev
          work-dir: infra
          color: always
          pulumi-version: latest
          cloud-url: s3://devopslite-dev-infra-state-bucket?region=ap-southeast-1
          secrets-provider: passphrase
      
      - name: Update Pulumi stack
        uses: pulumi/actions@9519177da243fd32cab35cdbf19cce1ab7472fcc # v6.2.0
        with:
          command: up --yes
          stack-name: dev
          work-dir: infra
          color: always
          pulumi-version: latest
          cloud-url: s3://devopslite-dev-infra-state-bucket?region=ap-southeast-1
          secrets-provider: passphrase
